.message__wrapper {
  position: relative;

  display: flex;
  gap: 20px;
  justify-content: space-between;

  padding: 0 30px;
}

.message__iconWrapperHover {
  display: flex;
  gap: 5px;
  align-items: center;

  width: 50px;
  min-width: 50px;

  visibility: hidden;
}

.message__iconWrapper {
  display: flex;
  gap: 5px;
  align-items: center;

  width: 50px;
  min-width: 50px;

  visibility: visible;
}

.message__text {
  width: 85%;
  padding-right: 10px;
  word-wrap: break-word;
}

.message__time {
  opacity: 0.5;
}

.message__userPhoto {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

@media (width <= 1920px) {
  .message__text {
    width: 60%;
  }
}
