.message__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
}

.message__iconWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message__removeIcon {
  padding: 0 10px;
}

.message__text {
  overflow: hidden;
  width: 100%;
  padding-right: 10px;
  word-wrap: break-word;
}

.message__paragraph {
  max-width: 200px;
}

.message__time {
  opacity: 0.5;
}

.message__userPhoto {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.message__oneMessage {
  display: flex;
  gap: 15px;
  width: 100%;
}
