.appWrapper {
  display: flex;
  flex-direction: column;
  height: max-content;
  min-height: calc(100vh - 50px);
}

.appWrapper__header {
  background-color: #222;
}

.appWrapper__nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;

  width: 200px;
  padding: 20px 0;
}

.header__section {
  display: flex;
  align-items: center;
  width: 80%;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.appWrapper__content {
  width: 100%;
  min-width: 500px;
  height: calc(100vh - 100px);
  min-height: 500px;

  background-color: #222;
  border: 1px solid #363738;
  border-radius: 15px;
}

.appWrapper__headerContent {
  display: flex;
  justify-content: space-between;

  width: 70%;
  min-width: 925px;
  height: 40px;
  margin: 0 auto;
  padding: 5px;
}

.header__logo {
  width: 50px;
}

.appWrapper__navPlusContent {
  height: max-content;
  min-height: calc(100vh - 100px);
  padding-top: 20px;
}

.appWrapper__mainContent {
  display: flex;
  flex-direction: row;

  width: 70%;
  min-width: 925px;
  margin: 0 auto;
}
