.appWrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
            "h h"
            "n c";
}
.appWrapper__header{
    display: flex;
    justify-content: space-between;
    background-color: #75e03f;

    grid-area: h;
}
.appWrapper__nav{
    background-color: #e03f5d;

    display: flex;
    flex-direction: column;
    grid-area: n;
    align-items: center;
}
.header__section{
    display: flex;
    align-items: center;
    border: 1px solid red;
    width: 100%;

}
.header__menu{
    display: flex;
    justify-content: space-between;
    border: 1px solid yellow;
    width: 100%;
}
.appWrapper__content{
    background-color: #3fb1e0;
    grid-area: c;
}