:root {
  height: max-content;
  min-height: 100vh;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizelegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-synthesis: none;
}

a {
  font-weight: 500;
  color: #dddfe2;
  text-decoration: inherit;
}

a:hover {
  color: #dddfe2;
}

body {
  min-width: 320px;
  height: max-content;
  min-height: 100vh;
  margin: 0 auto;

  background-color: #141414;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;

  padding: 0.6em 1.2em;

  font-family: inherit;
  font-size: 1em;
  font-weight: 500;

  background-color: #1a1a1a;
  border: 1px solid transparent;
  border-radius: 8px;

  transition: border-color 0.25s;
}

button:hover {
  color: #dddfe2;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #dddfe2;
    background-color: #fff;
  }

  a:hover {
    color: #dddfe2;
  }

  button {
    background-color: #f9f9f9;
  }
}
