.dialogs__usersPhoto {
  width: 40px;
  border-radius: 50%;
}

.dialogs__users {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;

  height: 50px;
  padding: 10px;

  border: 1px solid #363738;
}

.dialogs__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.dialogs__usersBlock {
  display: flex;
  flex-direction: column;

  min-width: 258px;
  height: 100%;

  border: 1px solid #363738;
  border-right: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.dialogs__users:first-child {
  border-top-left-radius: 15px;
}

.dialogs__users:last-child {
  border-bottom-left-radius: 15px;
}

.dialogs__usersInfo {
  display: flex;
  flex-direction: column;
}

.dialogs__lastActivity {
  font-size: 12px;
  opacity: 0.5;
}
