.dialogs__usersPhoto {
  width: 30%;
  border-radius: 50%;
}

.dialogs__users {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;

  height: 70px;
  padding: 20px;

  border: 1px solid #363738;
}

.dialogs__wrapper {
  display: flex;
  background-color: #222;
  border: 1px solid #363738;
  border-radius: 15px;
}

.dialogs__usersBlock {
  display: flex;
  flex-direction: column;

  height: 100%;

  border: 1px solid #363738;
  border-right: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.dialogs__users:first-child {
  border-top-left-radius: 15px;
}

.dialogs__users:last-child {
  border-bottom-left-radius: 15px;
}

.dialogs__usersInfo {
  display: flex;
  flex-direction: column;
}
